<!DOCTYPE html>
<html lang="es">
    <head>
    </head>
    <body>
        <div id="layout">
            <aside>
                <include template="../partials/aside.marko"/>
            </aside>
            <section class="section">
                <layout-placeholder name="content" />
            </section>
	    <footer class="footer">
                <include template="../partials/footer.marko"/>
	    </footer>
        </div>
    </body>
</html>